.tm-container {
    display: block;
    position: relative;

    background: #111;
    
    color: lightgreen;
    text-shadow: 0 0 8px rgba(60, 255, 60, 0.5);
    font-size: 16px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    font-family: 'Monaco', 'Menlo', 'Bitstream Sans Vera', monospace;
}

.tm-gametext {    
    margin: 2em 0 0 0;
    width: 100%;
    max-width: 600px;
}

.tm-userinput-container {
    margin-top: 2em;
    position: relative;
    width: 100%;
    max-width: 600px;
    
    display: flex;
}

.tm-userinput-container:before {
    position: relative;
    content: '> ';
    line-height: 24px;
}

.tm-userinput {
    outline: 0;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    
    margin-left: 10px;
    
    flex-grow: 2;
    
    background: transparent;
    font-family: 'Menlo', 'Monaco', 'Bitstream Sans Vera', monospace;
    
    color: lightgreen;
    opacity: 1;
    
    transition: opacity 200ms;
    
    /*border: 1px solid white;*/
}

.tm-userinput .hidden {
    opacity: 0;
}

.tm-cursor {
    
}